.palette-item {
   width: 100px;
   height: 100px;
   border: 1px solid #000;
   float: left;
   margin-right: 10px;
}

.crayon {
   cursor: pointer;
   width: 30px;
   height: 160px;
   position: relative;
   top: 33px;
}

.crayon-tip {
   content:"";
   cursor: pointer;
   position: absolute;
   left: 3px;
   top: -33px;
   width: 4px;
   height: 0;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   border-bottom-width: 33px;
   border-bottom-style: solid;
}

@for $i from 0 through 11 {
    .pos-#{$i} {
        -moz-transform: rotate(30deg * $i);
        -webkit-transform: rotate(30deg * $i);
        transform: rotate(30deg * $i);
    }
}